$light-gray: #f2f2f2;
$mid-gray: #D8D8D8;
$dark-gray: #1a1a1a;

$nav-height: 40px;

$green: #3a8585;
$pink: #ff8080;

$hover-transition: 200ms;

$short-transition: 300ms;
$mid-transition: 600ms;
$long-transition: 1200ms;

$standard-bumper: 0.9375rem;

$height-small: "screen and (min-height: 0em) and (max-height:50em)";